* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
}

.header-nav {
    padding: 26px 0;
    text-align: center;
}

.nav-item {
    display: inline-block;
    list-style: none;
}

.nav-link {
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

.main-container {
    max-width: 1145px;
    text-align: center;
    margin: 0 auto;
}

.main-title {
    margin: 49px 0 38px;
    color: #373737;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
}

.main-txt {
    margin-bottom: 28px;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
}

.main-btn {
    margin: 66px 0 82px;
}

.main-btn a {
    padding: 18px 42px;
    background-color: #FF0000;
    border-radius: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}
footer{
    max-width: 1145px;
    margin: 0 auto;
}
.footer-txt {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #373737;
    padding-bottom: 29px;
    margin-right: 37px;
}